.card {
  height: 100vmin;
  padding: 64px;
  position: relative;
  background-color: var(--background);
  position: sticky;
  top: 0;
  text-align: center;
}

.card:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 32px;
  background-image: linear-gradient(#22222200, #22222233 50%, #222222ff);
}

.card div {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.card img,
.card video {
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.card figcaption {
  position: absolute;
  top: 32px;
  right: 32px;
  text-align: right;
  max-width: 20em;
  mix-blend-mode: difference;
  color: white;
  display: grid;
  gap: 8px;
}

.card figcaption div {
  display: grid;
  gap: 4px;
  aspect-ratio: unset;
  margin: 0;
}

.card a {
  color: inherit;
}

@media (max-width: 800px) {
  .card {
    position: relative;
    padding: 32px;
    height: auto;
  }

  .card figcaption {
    margin: 24px 0 0 0;
    position: static;
    text-align: left;
  }

  .card:before {
    content: none;
  }
}
